<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main>

            <h1>{{ agent.firstName }} {{ agent.lastName }}  </h1><br>
            <h2>Cet agent a : {{ agent.age }} ans</h2>


</main>



</body>
</html>