<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main>
    <! Pour chaque agent(variable instanciée dans twig) de mon tableau agents (où est stocké tous les agents en php)>

{% for agent in agents  %}

    <! Si un agent à la valeur published étant égale à true>

    {% if agent.published  %}

        <! j'affiche les informations des agents correspondants, en lien cliquable, pour que l'on puisse
        accéder à leur page personnelles:>
        <h3>
            <a href="{{ path('agent', {'id': agent.id}) }}">{{ agent.firstName }} {{ agent.lastName }} {{ agent.age }} ans></a>
        </h3>
{% endif %}

{% endfor %}

<! une acollade c'est pour afficher une instruction de php dans le fichier twig>
<! deux accolades c'est pour afficher une variable de php dans fichier twig>

</main>



</body>
</html>