<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ profile.name}} - {{ profile.firstname }}</h1>
<h2>{{ profile.age}}</h2>
{% if profile.active %}
<p>le métier ce cette personne est {{ profile.job }}
{% endif %} </p>


<p></p>
</body>
</html>