<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>






<ol>
    {% for skill in skills %}
        <li>{{ skill }}</li>
    {% endfor %}
</ol>

<! une acollade c'est pour afficher une condition....une fonction dans le twig>
<! deux accolades c'est pour afficher une variable dans twig>


</body>
</html>